<div class="flex flex-col gap-6 p-1">
	<section class="flex flex-col gap-4">
		<div class="flex flex-col gap-2">
			<label class="font-bold text-sm">Brand name: </label>
			<input pInputText [(ngModel)]="item.brand" placeholder="e.g. Lavender" class="w-full">
		</div>
		<div class="flex flex-col gap-2">
			<label class="font-bold text-sm">Scent name: </label>
			<input pInputText [(ngModel)]="item.scent_name" placeholder="e.g. Scent name" class="w-full">
			<label class="font-bold text-sm">Scent description: </label>
			<input pInputText [(ngModel)]="item.scent_description" placeholder="e.g. Scent description" class="w-full">
			<p-card>
				<label class="font-bold text-sm">Scent types: </label>
				<p-select 
					[options]="(option00$ | async) || []" 
					[(ngModel)]="selectedScent" 
					optionLabel="name"
					optionValue="name"
					placeholder="Select a Scent Type"
          class="w-full"
          styleClass="w-full"
					(onChange)="onScentSelect($event)">
				</p-select>
				<p class="py-5 text-sm text-gray-900 text-xl font-medium">Selected: {{ selectedScent }}</p>
				<hr>
				<label class="font-bold text-sm">Sub scents: </label>
				<p-select 
					[(ngModel)]="selectedSubScent" 
					[options]="(option00$ | async) || []" 
					[(ngModel)]="selectedSubScent" 
					optionLabel="sub_name"
					optionValue="sub_name"
					placeholder="Select a Sub Scent"
          class="w-full"
          styleClass="w-full"
					(onChange)="onScentSelect($event)">
					<ng-template pTemplate="item" let-item>
						@if(item.sub_name){
						<div>{{ item.sub_name }}</div>
						}
					</ng-template>
				</p-select>
				<p class="py-5 text-sm text-gray-900 text-xl font-medium">Selected: {{ selectedSubScent }}</p>
			</p-card>
		</div>
			<label class="font-bold text-sm">Retail Price: </label>
			<input pInputText [(ngModel)]="item.base_price" placeholder="e.g. £9.99" class="w-full">
	</section>
	<div class="flex justify-end gap-2">
		<p-button label="Cancel" (click)="close()" severity="secondary" [text]="true"></p-button>
		<p-button label="Save" (click)="save()"></p-button>
	</div>
</div>
