<div class="flex flex-col gap-6 p-1" [formGroup]="freshenerForm">
  <section class="flex flex-col gap-4">
    
    <div class="flex flex-col gap-2">
      <label class="font-bold text-sm">Brand name: <span class="text-red-500">*</span></label>
      <input pInputText formControlName="brand" placeholder="e.g. Lavender" class="w-full">
    </div>
    <div class="flex flex-col gap-2">
      <label class="font-bold text-sm">Price: <span class="text-red-500">*</span></label>
      <input pInputText formControlName="price" placeholder="e.g. £6.99" class="w-full">
    </div>
    <div class="flex flex-col gap-2">
      <label class="font-bold text-sm">Scent name: <span class="text-red-500">*</span></label>
      <input pInputText formControlName="scent_name" placeholder="e.g. Scent name" class="w-full">
      
      <label class="font-bold text-sm">Scent description: <span class="text-red-500">*</span></label>
      <input pInputText formControlName="scent_description" placeholder="e.g. Scent description" class="w-full">

      <p-card>
        <label class="font-bold text-sm">Scent types: <span class="text-red-500">*</span></label>
        <p-select 
          [options]="(option01$ | async) || []" 
          formControlName="scent_type" 
          optionLabel="type"
          optionValue="type"
          placeholder="Select a Scent Type"
          class="w-full"
          styleClass="w-full">
        </p-select>

        <hr class="my-4">

        <label class="font-bold text-sm">Sub scents: <span class="text-red-500">*</span></label>
        <p-select 
          [options]="(option00$ | async) || []" 
          formControlName="sub_scent" 
          optionLabel="type"
          optionValue="type"
          placeholder="Select a Sub Scent"
          class="w-full"
          styleClass="w-full">
        </p-select>
      </p-card>
    </div>
		<hr>
		<div class="flex flex-col gap-2">
		<label class="font-bold text-sm">Product Image: <span class="text-red-500">*</span></label>
		<p-fileUpload
			mode="basic"
			chooseLabel="Choose Image"
			chooseIcon="pi pi-upload"
			name="demo[]"
			accept="image/*"
			maxFileSize="1000000"
			(onSelect)="onFileSelected($event)"
			styleClass="w-full">
		</p-fileUpload>

		@if (previewUrl) {
			<div class="mt-2 text-center">
				<img [src]="previewUrl" class="w-full max-h-40 object-contain rounded border border-gray-200">
			</div>
		}
		</div>
  </section>

  <div class="flex justify-end gap-2">
    <p-button label="Cancel" (click)="close()" severity="secondary" [text]="true"></p-button>
    <p-button label="Save" (click)="save()" [disabled]="freshenerForm.invalid"></p-button>
  </div>
</div>
