<form [formGroup]="payload02" (ngSubmit)="save()" class="p-4">
  <p-fluid class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="col-span-1 md:col-span-2 flex flex-col gap-2">
      <label for="brand" class="font-semibold text-slate-700">Brand Name</label>
			<input pInputText id="brand" formControlName="brand" placeholder="e.g. Little Trees"/>
    </div>
    <div class="flex flex-col gap-2">
      <label for="scent_name" class="font-semibold text-slate-700">Scent Name</label>
      <input pInputText id="scent" formControlName="scent" />
    </div>
    <div class="flex flex-col gap-2">
      <label for="scent_type" class="font-semibold text-slate-700">Scent Type</label>
      <p-select 
        id="scent_type" 
        formControlName="scent_type" 
        [options]="['Fruity', 'Woody', 'Fresh', 'Floral']" 
        placeholder="Select Type">
      </p-select>
    </div>
    <div class="col-span-1 md:col-span-2 flex flex-col gap-2">
      <label for="description" class="font-semibold text-slate-700">Description</label>
      <textarea 
        pTextarea 
        id="description" 
        formControlName="description" 
        rows="3" 
        [autoResize]="true">
      </textarea>
    </div>
    <div class="col-span-1 md:col-span-2 flex justify-end gap-3 mt-4">
      <p-button 
        label="Cancel" 
        severity="secondary" 
        [outlined]="true" 
        (onClick)="close()">
      </p-button>
      <p-button 
        label="Save Changes" 
        icon="pi pi-check" 
        type="submit" 
        >
      </p-button>
    </div>
  </p-fluid>
</form>
