.layout-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.layout-topbar {
    position: sticky;
    top: 0;
    z-index: 999;
}

.layout-content {
    flex: 1 1 auto;
    overflow-y: auto;
}
